<div id="message-<%= message.id %>" style="display: flex; justify-content: <%= message.user == current_user ? 'end' : 'start' %>">
  <small>
    <i><%= time_ago_in_words(message.created_at) %></i>
    <strong><%= message.user.first_name.capitalize %> :</strong> <br>
    <p><%= message.content %> </p>
  </small>
</div>
