<div class="banner-profile" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('http://www.vsocanada.org/wp-content/uploads/sites/19/2020/03/volunteering-australia-people-linked-together.jpg')">
  <div class="container">
    <h1>Bienvenue sur ton profil, <span class="time-title"><%= current_user.first_name.capitalize %></span></h1>
  </div>
</div>


<div class="container">

<div class="card-profile">
  <div class="card-participationprofil text-center" style="width: 18rem;">
    <div class="card-profil">
      <h5 class="card-title">Évènement</h5>
      <p class="card-text">Suivez le statut de votre demande de participation à évènement </p>
    <% @participations.each do |participation| %>
      <strong><%= participation.event.name %> :</strong>
        <%if participation.pending? %>
           <span> En attente</span>
        <% elsif participation.accepted? %>
          <span> Accepté </span>
        <% elsif participation.cancelled? %>
        <% else %>
          <span> Refusé</span>
        <% end %>
      <br>
      <% if participation.pending? %>
       <button class='annuler-participation'> <%= link_to 'Annuler', cancelled_participation_path(participation), method: :patch %></button>
      <% end %>
    <% end %>

    </div>
  </div>



    <div class="card-message text-center" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Messagerie</h5>
      <p class="card-text">Prenez contact avec les membres de l'association</p>

      <button class="btn-profile" type="button" data-bs-toggle="collapse" data-bs-target="#collapsechatrooms" aria-expanded="false" aria-controls="collapsechatrooms">
      Messagerie
      </button>


  <div class="collapse chatroom" id="collapsechatrooms">
    <div class="card card-body">
      <% @chatrooms.each_with_index do |chatroom, index| %>
        <div class="messages"
            data-controller="chatroom-subscription"
            data-chatroom-subscription-chatroom-id-value="<%= chatroom.id %>">
          <h2 class="row" data-bs-toggle="modal" data-bs-target="#chatroomModal<%= index %>"><%= chatroom.asso.name %></h2>

          <div class="modal fade" id="chatroomModal<%= index %>" tabindex="-1" aria-labelledby="chatroomModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="chatroomModalLabel"> <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle" %>  <%=  chatroom.asso.user.first_name.capitalize %>| <%= chatroom.asso.name.capitalize %> </h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" data-chatroom-subscription-target="modalBody">

                  <div data-chatroom-subscription-target="messages">
                    <% chatroom.messages.each do |message| %>
                      <%= render "messages/message", message: message %>
                    <% end %>
                  </div>

                </div>
                <div class="modal-footer" >

                  <%= simple_form_for [ chatroom, Message.new],
                    remote: true,
                    html: {data: { "chatroom-subscription-target" => "form" }, class: "d-flex"} do |f|
                  %>
                    <%= f.input :content,
                      label: false,
                      placeholder: "Message #{chatroom.name}",
                      wrapper_html: {class: "flex-grow-1"}
                    %>
                    <%= f.submit "Envoyer", class: "btn btn-orange btn-lg" %>
                  <% end %>

                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>



    </div>
  </div>

</div>
  <%= link_to 'Back', :back, class:'btn btn-dark ' %>

</div>
