<div class="banner-profile" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('https://res.cloudinary.com/dlwr1bikm/image/upload/v1646647290/Banner-profil-contribute_saxbbf.jpg')">
  <div class="container">
    <h1>👋🏼 Bienvenue sur ton profil, <span class="user-profil-name"><%= current_user.first_name.capitalize %></span></h1>
    <%= cl_image_tag current_user.photo.key, class: "avatar-profil-show img-asso-show" %>
  </div>
</div>

<div class="container">
  <div class="row my-5">
    <div class="col-sm-12 col-lg-8 user-profil-events">
      <div class="user-profil-events-title">
        <h4 class="user-profil-events-title-content">EVENEMENTS A VENIR<span class="sub-title-user-under">________________________________</span></h4>
      </div>
      <h5 class="my-4">En attente (<%= @participations.select(&:pending?).count %>)</h5>
        <% @participations.select(&:pending?).each do |participation|%>
          <%= link_to event_path(participation.event), class:"no-link-deco" do %>
            <div class="card-event-profile mb-3">
              <img src="<%= cl_image_path participation.event.photos.first.key %>" />
              <div class="card-event-profile-infos">
                <h2><%= participation.event.name %></h2>
                <p><i class="fa-solid fa-calendar user-icons-profile"></i> <%= participation.event.start_date.strftime("%d/%m/%y") %></strong> <span class="spacer-card-user">|</span> <i class="fa-solid fa-clock user-icons-profile"></i> <%= participation.event.start_date.strftime("%H:%M") %></p>
                <p>Adresse: <strong><%= participation.event.address%></strong></p>
              </div>
              <h2 class="nb-hours-card-profil-user"><%= participation.event.hours_calcul.round %>h</h2>
            </div>
          <% end %>
        <% end %>
      <h5 class="my-4">Approuvés (<%= @participations.select(&:accepted?).count %>)</h5>
        <% @participations.select(&:accepted?).each do |participation|%>
          <div class="card-event-profile mb-3">
            <img src="<%= cl_image_path participation.event.photos.first.key %>" />
            <div class="card-event-profile-infos">
              <h2><%= participation.event.name %></h2>
              <p><i class="fa-solid fa-calendar user-icons-profile"></i> <%= participation.event.start_date.strftime("%d/%m/%y") %></strong> <span class="spacer-card-user">|</span> <i class="fa-solid fa-clock user-icons-profile"></i> <%= participation.event.start_date.strftime("%H:%M") %></p>
              <p>Adresse: <strong><%= participation.event.address%></strong></p>
            </div>
            <h2 class="nb-hours-card-profil-user"><%= participation.event.hours_calcul.round %>h</h2>
          </div>
        <% end %>
    </div>
     <div class="col-sm-12 col-lg-4">
        <div class="user-profile-key-informations">
          <div class="user-profile-key-informations-counter mb-3">
            <h3><span class="key-informations-counter-number"><%= current_user.counter_missions %></span> Missions réalisées</h3>
            <h3><span class="key-informations-counter-number"><%= current_user.counter_hours %></span> Heures données</h3>
            <%= link_to "", class:"no-link-deco" do %>
              <i class="fa-solid fa-share-nodes"></i>
            <% end %>
          </div>
          <div class="user-profile-key-informations-messages">
            <i class="fa-solid fa-comments"></i>
            <h3 class="pt-2 mb-3">Mes messages</h3>
            <ul>
              <% @chatrooms.last(3).sort_by(&:updated_at).reverse.each do |conversation| %>
                <%= link_to chatroom_path(conversation), class:"no-link-deco" do %>
                  <li class="mb-3">
                    <%= cl_image_tag conversation.asso.user.photo.key, class: "avatar-asso-message-profile" %>
                    <div class="user-profile-key-informations-sender">
                      <h6><%= conversation.asso.updated_at.strftime("%d/%m/%y") %> <%= conversation.asso.updated_at.strftime("%H:%M")   %> </h6>
                      <p><%= conversation.asso.user.first_name.capitalize %> | <%= conversation.asso.name.capitalize %></p>
                      <p class="view-last-message">Dernier message: <span><%= conversation.messages.last.content %></span></p>
                    </div>
                  </li>
                 <% end %>
              <% end %>
            </ul>
            <%= link_to "", class:"no-link-deco" do %>
              <p class="user-profile-key-informations-Allmessages text-center">. . .<br>Voir tous mes messages</p>
            <% end %>
          </div>
        </div>
    </div>
  </div>
</div>
    <div class="card-message text-center" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Messagerie</h5>
      <p class="card-text">Prenez contact avec les membres de l'association</p>

      <button class="btn-profile" type="button" data-bs-toggle="collapse" data-bs-target="#collapsechatrooms" aria-expanded="false" aria-controls="collapsechatrooms">
      Messagerie
      </button>


  <div class="collapse chatroom" id="collapsechatrooms">
    <div class="card card-body">
      <% @chatrooms.each_with_index do |chatroom, index| %>
        <div class="messages"
            data-controller="chatroom-subscription"
            data-chatroom-subscription-chatroom-id-value="<%= chatroom.id %>">
          <h2 class="row" data-bs-toggle="modal" data-bs-target="#chatroomModal<%= index %>"><%= chatroom.asso.name %></h2>

          <div class="modal fade" id="chatroomModal<%= index %>" tabindex="-1" aria-labelledby="chatroomModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="chatroomModalLabel"> <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle" %>  <%=  chatroom.asso.user.first_name.capitalize %>| <%= chatroom.asso.name.capitalize %> </h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" data-chatroom-subscription-target="modalBody">

                  <div data-chatroom-subscription-target="messages">
                    <% chatroom.messages.each do |message| %>
                      <%= render "messages/message", message: message %>
                    <% end %>
                  </div>

                </div>
                <div class="modal-footer" >

                  <%= simple_form_for [ chatroom, Message.new],
                    remote: true,
                    html: {data: { "chatroom-subscription-target" => "form" }, class: "d-flex"} do |f|
                  %>
                    <%= f.input :content,
                      label: false,
                      placeholder: "Message #{chatroom.name}",
                      wrapper_html: {class: "flex-grow-1"}
                    %>
                    <%= f.submit "Envoyer", class: "btn btn-orange btn-lg" %>
                  <% end %>

                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>



    </div>
  </div>

</div>
  <%= link_to 'Back', :back, class:'btn btn-dark ' %>

</div>
