<div class="search-form-control form-group mt-3" data-controller="search">
  <%= simple_form_for :search, url: events_path, method: :get do |f| %>
    <div class="product-search">
      <div class="search-element">
        <label class="search-label py-1">Où?</label>
        <%= f.input :address,
              label: false,
              input_html: { data: { geocoder_target: "address" }, class: 'd-none' },
              wrapper_html: { data: { controller: "geocoder", geocoder_api_key_value: ENV['MAPBOX_API_KEY'] } } %>
      </div>
      <div class="search-element">
        <label class="search-label py-1">Quand?</label>
        <div class="search-date">
          <%= f.input :start_date, as: :datetime, html5: true, label: false%>
          <%= f.input :end_date, as: :datetime, html5: true, label: false %>
        </div>
      </div>
        <div class="button-div">
        <%= f.submit class:"search-button", value: "GO"%>
        </div>
    </div>
  <% end %>
</div>
