<div class="search-form-control form-group" data-controller="search">
  <%= simple_form_for :search, url: events_path, method: :get do |f| %>
      <%#= f.input :start_date, as: :string, required: false, input_html: { class: "datepicker"} %>
      <%= f.input :address,
            label: false,
            input_html: { data: { geocoder_target: "address" }, class: 'd-none' },
            wrapper_html: { data: { controller: "geocoder", geocoder_api_key_value: ENV['MAPBOX_API_KEY'] } } %>

      <% unless action_name == 'home' %>
        <div class="col-2">
          <label for="search_distance" class="form-label"><span data-search-target="distance"></span>km</label>
          <input data-action="input->search#change" type="range" class="form-range" min="0" max="60" step="1" name="search[distance]" id="search_distance">
        </div>
      <% end %>
      <%= "Agir pour :" %>
      <%= f.input :cause, as: :check_boxes, collection: Event::EVENT_CAUSES, label_method: lambda { |cause| render 'shared/check_box', cause: cause } %>
      <%#= f.input :cause, class: "js-example-placeholder-single form-control",label: false, collection: Event::EVENT_CAUSES, input_html:  {multiple: true, data: { placeholder: "Causes préférées", controller: 'select2', select2_options_value: {tags: true}}} %>
      <%# <%= f.input :start_date, as: :string, required: false, input_html: {class: "datepicker"} %> %>
      <%# <%= f.input :end_date, as: :string, required: false, input_html: {class: "datepicker"} %> %>
      <%= f.submit %>
      <%#= f.input :start_date,  %>
      <%#= f.input :end_date,  %>
  <% end %>
</div>
