  <div class="container">
    <h1><strong>Evénements</strong>à venir</h1>
    <p>Découvrez toutes les possibilités de donner de votre temps autour de vous</p>
  </div>
</div>

<div class="container">
  <% if @events.any? %>
      <% @events.each do |event| %>
        <div>
          <%= link_to event_path(event) do %>
            <p>Nom: <%= event.name %></p>
          <% end %>
          <%= cl_image_tag event.asso.photo.key, height: 300, width: 400, crop: :fill %>
          <p>Description: <%= event.description %></p>
          <p>Cause: <%= event.cause %></p>
          <p>Adresse: <%= event.address %></p>
          <p>From <%= event.start_date %> to <%= event.end_date %> </p>
          <p>Association: <%= event.asso.name %></p>
          <p>Responsable: <%= event.asso.user.first_name %></p>
        </div>
      <% end %>
    <% else %>
      <div>
        <p>There is no event for the moments</p>
      </div>
  <% end %>
</div>


<%#= link_to pokemon, class: "link-no-deco" do %>
