<h1>Events#new</h1>
<p>Find me in app/views/events/new.html.erb</p>


<div class="container">
  <div class="col-6 offset-3 mt-3">
    <%= simple_form_for([@asso, @event]) do |f| %>
      <div class="form-group">
        <h3>Les informations de votre Évènement</h3>
          <%= f.input :name %>
          <div class="row">
            <div class="col">
              <%= f.input :number_volunteers, input_html: { min: '0' } %>
            </div>
            <div class="col">
              <%= f.input :cause %>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <%= f.input :start_date, html5: true%>
            </div>
            <div class="col">
              <%= f.input :end_date, html5: true%>
            </div>
          </div>
          <%= f.input :description %>
          <%= f.input :address,
              input_html: { data: { geocoder_target: "address" }, class: 'd-none'},
              wrapper_html: { data: { controller: "geocoder", geocoder_api_key_value: ENV['MAPBOX_API_KEY'] } } %>
          <%= f.input :photo, as: :file %>
          <%= f.button :submit, class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
