<%= render 'shared/space-navbar' %>

<h1>Events#show</h1>
<p>Find me in app/views/events/show.html.erb</p>

<p><%= @event.name %></p>
<p><%= @event.cause %></p>
<p><%= @event.description %></p>
<p><%= @event.number_volunteers %></p>
<p><%= @event.asso.name %></p>
