<div class="banner-show">
  <div class="container">
    <h1 class="banner-event-name"><%= @event.name.upcase %></h1>
    <p>Agir pour <span class="time-title"><%= @event.cause %></span></p>
  <%= cl_image_tag @event.asso.photo.key, class: "avatar-asso-show dropdown-toggle img-asso-show" %>
  </div>
  <div class="nb-hours">
    <h2 ><i class="fa-solid fa-hourglass"></i> <%= @event.hours_calcul.round %>h</h2>
    <%# <h2 ><i class="fa-solid fa-users"></i> <strong><%= @event.participations.count %><%#= @event.number_volunteers %>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-sm-12 p-5">
      <h6 class="asso-show-intro"><%= @event.asso.name %></h6>
      <div class="event-show-infos py-2">
        <p class="event-show-infos-padding-right"><i class="fa-solid fa-calendar"></i> <%= @event.start_date.strftime("%d/%m/%y") %></p>
        <p class="event-show-infos-padding-right event-show-infos-padding-left"><i class="fa-solid fa-clock"></i> <%= @event.start_date.strftime("%H:%M") %></p>
        <p class="event-show-infos-padding-left"><i class="fa-solid fa-location-dot"></i> <%= @event.address %></p>
      </div>
      <div class="event-show-description">
        <p class="event-show-description-title">Pourquoi avons-nous <span class="need-description">besoin de toi ?</span> <span class="interogation-description">______</span> </p>
        <p class= "event-show-description-content"><%= @event.description.capitalize %></p>
      </div>
    </div>
    <div class="col-lg-4 col-sm-12 p-4">
      <div class="event-show-participation my-4">
        <p>Volontaires: <strong><%= @event.participations.count %></strong>/<%= @event.number_volunteers %></p>
        <p>Prêt à s'engager?</p>
        <%= link_to "Je participe !", participations_path(@participation, event_id: @event.id), class: "btn-orange no-link-deco", method: :post %>
      </div>
      <div class="event-show-discussion my-4">
        <%= cl_image_tag @event.asso.user.photo.key, class: "avatar-large avatar-asso-contact dropdown-toggle img-asso-show mb-2" %>
        <p>Contact: <strong><%= @event.asso.user.first_name %></strong></p>
        <p class="event-show-discussion-intro">Pour toute question, n'hésite pas à la contacter.</p>
        <%= link_to "Envoyer un message", asso_chatrooms_path(@event.asso), class: "btn-white no-link-deco", method: :post %>
      </div>
    <div class="col-lg-8 col-sm-12">
  </div>
</div>
