<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3><%= @asso.name %></h3>
        </div>

        <ul class="list-unstyled components">
            <p id="menu-display">MENU</p>
            <li>
                <%# <a href="#homeSubmenu"><i class="icon-menu fa-solid fa-house"></i>Home</a> %>
                <%= link_to root_path do %>
                  <i class="icon-menu fa-solid fa-house"></i>
                  <span>Home</span>
                <% end %>
            </li>
            <li>
                <%= link_to new_asso_event_path(@asso) do %>
                  <i class="icon-menu fa-solid fa-plus"></i></i>
                  <span>Créer un évènement</span>
                <% end %>
            </li>
            <li>
                <%= link_to index_asso_asso_path(@asso) do %>
                  <i class="icon-menu fa-solid fa-message"></i></i>
                  <span>Messagerie</span>
                <% end %>
            </li>
        </ul>
    </nav>

    <div class= "container padding_navbar px-5">
      <h3 class="pb-3">Hello <%= @asso.user.first_name%> 👋🏼</h3>
      <div class="row dash-key-infos">
          <div class="col-sm-12 col-lg-6 key-info1">
            <div class ="background-info">
              <div>
                <p>Depuis le début de l'aventure...</p>
                <p><strong>44</strong> actions créées</p>
                <p><strong>123</strong> volontaires recrutées</p>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-lg-3 key-info2">
            <%= link_to new_asso_event_path(@asso), class: "no-link-deco" do %>
              <div class ="background-action">
                <div>
                  <p><strong><i class="fa-solid fa-plus"></i></strong></p>
                  <p>Créer un évènement</p>
                </div>
              </div>
            <% end %>
          </div>
           <div class="col-sm-12 col-lg-3 key-info2">
            <div class ="background-action">
              <div>
                <p id="count-pending-volunteers"><strong><%= @pending_participations.count %></strong></p>
                <p>Volontaires en attente</p>
              </div>
            </div>
          </div>
      </div>
      <h4 class="py-4">Evènements à venir (<%= @pending_events.count%>)</h4>
      <div class="row">
          <div class="col-sm-12 col-lg-2 dashboard-event">
            <img src="https://res.cloudinary.com/dlwr1bikm/image/upload/v1646259498/development/Saly-42_oi5fwi.png" class="img-header-row" alt="header">
          </div>
          <% @pending_events.each do |event| %>
            <div class="col-sm-12 col-lg-10" data-controller="display-participants">
              <div class="card-event-dash">
                <img src="<%= cl_image_path event.photos.first.key %>" />
                <div class="card-event-dash-infos">
                  <h2><%= event.name %></h2>
                  <p>Nombre de volontaires: <span class="volunteers-count"><%= event.participations.select{|p| p.accepted?}.count%>/<%= event.number_volunteers%></strong></p>
                  <p><strong><%= event.participations.select{|p| p.pending?}.count%></strong> volontaire(s) en attente</p>
                </div>
                <div class="card-event-dash-arrow">
                  <i class="fa-solid fa-caret-down drop-validation" data-display-participants-target="down" data-action="click->display-participants#displayDiv"></i>
                  <i class="fa-solid fa-caret-up up-validation d-none" data-display-participants-target="up" data-action="click->display-participants#hideDiv"></i>
                </div>
              </div>
              <div>
              <div class="card-event-dash-participations d-none" data-display-participants-target="participants">
                  <div class="container-tab">
                    <div class="tabs">
                      <input type="radio" id="radio-1" name="tabs" checked data-action="click->display-participants#displayPending"/>
                      <label class="tab" for="radio-1">En attente<span class="notification-part"><%= event.participations.select{|p| p.pending?}.count %></span></label>
                      <input type="radio" id="radio-2" name="tabs" data-action="click->display-participants#displayAccepted"/>
                      <label class="tab" for="radio-2">Validés<span class="notification-part"><%= event.participations.select{|p| p.accepted?}.count %></span></label>
                      <span class="glider"></span>
                    </div>
                  </div>
                    <div class="participants-pending" data-display-participants-target="pending">
                      <% event.participations.each do |participant|%>
                        <% if participant.pending? %>
                            <div class="card-participants-dashboard mt-3">
                              <img src="<%= cl_image_path participant.user.photo.key %>" class="avatar-large" />
                              <div class="card-participants-dashboard-content">
                                <p><small>14th January</small></p>
                                <p><strong><%= participant.user.first_name %> <%= participant.user.last_name %></strong></p>
                              </div>

                              <div class="card-participants-dashboard-actions">
                                    <%= link_to 'Accepter', accepted_participation_path(participant), method: :patch %>
                                    <%= link_to 'Refuser', denied_participation_path(participant), method: :patch %>
                              </div>
                            </div>
                        <% end %>
                      <% end %>
                    </div>
                    <div class="participants-accepted d-none" data-display-participants-target="accepted">
                      <% event.participations.each do |participant|%>
                        <% if participant.accepted?  %>
                              <div class="card-participants-dashboard mt-3">
                                <img src="<%= cl_image_path participant.user.photo.key %>" class="avatar-large" />
                                <div class="card-participants-dashboard-content">
                                  <p><small>14th January</small></p>
                                  <p><strong><%= participant.user.first_name %> <%= participant.user.last_name %></strong></p>
                                </div>
                              </div>
                        <% end %>
                      <% end %>
                    </div>
              </div>
            </div>
          <% end %>
      </div>


        <h4 class="py-4">Evènements passés </h4>
        <% @done_events.each do |event| %>
          <%= event.name %>
          <%= event.number_volunteers%>
        <% end %>
    </div>
  </div>
</div>

<button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapsechatrooms" aria-expanded="false" aria-controls="collapsechatrooms">
    Messagerie
  </button>
<div class="collapse" id="collapsechatrooms">
  <div class="card card-body">
    <% unless @chatrooms.nil? %>
      <% @chatrooms.each_with_index do |chatroom, index| %>
        <div class="messages"
            data-controller="chatroom-subscription"
            data-chatroom-subscription-chatroom-id-value="<%= chatroom.id %>">
          <h2 class="row" data-bs-toggle="modal" data-bs-target="#chatroomModal<%= index %>"><%= chatroom.user.first_name %></h2>

          <!--- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#chatroomModal<%#= index %>">
            Launch demo modal
          </button> --->

          <div class="modal fade" id="chatroomModal<%= index %>" tabindex="-1" aria-labelledby="chatroomModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="chatroomModalLabel">Modal title</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" data-chatroom-subscription-target="modalBody">

                  <div data-chatroom-subscription-target="messages">
                    <% chatroom.messages.each do |message| %>
                      <%= render "messages/message", message: message %>
                    <% end %>
                  </div>

                </div>
                <div class="modal-footer">

                  <%= simple_form_for [ chatroom, Message.new],
                    remote: true,
                    html: {data: { "chatroom-subscription-target" => "form" }, class: "d-flex"} do |f|
                  %>
                    <%= f.input :content,
                      label: false,
                      placeholder: "Message #{chatroom.name}",
                      wrapper_html: {class: "flex-grow-1"}
                    %>
                    <%= f.submit "Send", class: "btn btn-primary" %>
                  <% end %>

                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
    </div>
  </div>
</div>
